<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://neweduai.github.io/PBL-iOS/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Evcq6lSkvVh/MveO2CPnV5aD+W/GrXE0kkq8Xd1Iaxk=</string>
</dict>
</plist>
